.jumbotron {
	background-color: blue;
	color: white;
}

.btn {
	background-color: green;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: blue;
	margin-bottom: 0px;
	margin-top: 50px;
}

.card-hotel {
	flex: 1 200px;
	#padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-ampliar {
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}